
create a .gitignore file for python project


#.gitignore for Python projects

Byte-compiled / optimized / DLL files
*.pyc *.pyo *.pyd

#C extensions *.so

Distribution / packaging files
.Python env/ build/ develop-eggs/ dist/ downloads/ eggs/ .eggs/ lib/ lib64/ parts/ sdist/ var/ wheels/ pip-wheel-metadata/ share/

Installer logs
pip-log.txt pip-delete-this-directory.txt

Local version control
.git/ .gitignore .hg/ .hgignore .svn/

MacOS
.DS_Store

Python test cache
pycache/

Sphinx documentation
docs/_build/

IPython
profile_default/ ipython_config.py

Jupyter Notebook
.ipynb_checkpoints/

Rope project
.ropeproject/

PyCharm
.idea/

Conda
.conda/

Virtualenv
env/ 
venv/

Other
Logs
*.log

Runtime data
*.pid *.seed

Directories
*.dirs *.arch-ids

SQLite
*.db *.sqlite3

Windows image file caches
Thumbs.db ehthumbs.db

OSX files
.DS_Store .Spotlight-V100 .Trashes

Misc
.Pythonstartup .vscode/

dotenv files
.env .env.local .env.development.local .env.test.local .env.production.local

Flask secret key
secret_key

Flask app.config
instance/

Other files
.env.example .nyc_correct .python-version

Pytest
.pytest_cache/

Coverage.py
.coverage .coverage.* .tox/

Selenium
*.html

Yarn
.yarn-integrity

Cypress
cypress/ cypress.json

Procfile
Procfile

Docker
.docker/ docker-compose.yml docker-compose.ci.build.yml

.dockerignore
.dockerignore

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.dockerignore
.dockerignore

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruffignore

.isort.cfg
.isort.cfg

.pylintrc
.pylintrc

.pycodestyle
.pycodestyle

.pyproject.toml
.pyproject.toml

.github/
.github/

.docker/
.docker/

.env
.env

.env.example
.env.example

.flake8
.flake8

.pre-commit-config.yaml
.pre-commit-config.yaml

poetry.lock
poetry.lock

.flaskenv
.flaskenv

.ruff.toml
.ruff.toml

.ruffignore
.ruff



